@model DataListPartialModel

@inject IViewLocalizer Localizer


<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@Localizer["Folder List"]</h3>
                @if (Model.Member == Member.Owner)
                {
                    <button class="btn btn-xs btn-success pull-right" data-type="modal" data-action="add-folder">
                        <i class="fa fa-folder-open-o"></i>&nbsp;@Localizer["Add Folder"]
                    </button>
                }
                
            </div>
            <div class="box-body table-responsive">
                <table class="table table-striped folderlist">
                    <thead class="table-header">
                        <tr>
                            <th>@Localizer["Name"]</th>
                            <th>@Localizer["Content"]</th>
                            <th>@Localizer["State"]</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@Html.Script(
    @<script>
        var table = $(".folderlist").DataTable({
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "ajax": {
                "url": "/folders?userId=@Model.ID",
                "type": "POST"
            },
            "columns": [
                { "data": "name", },
                { "data": "info", "className": "not-mobile" },
                { "data": "state" }
               
            ],
            "language": {
                "searchPlaceholder":"@Localizer["Search folder name"]"
            }
        });
    </script>
)

