@model DataListPartialModel

@inject IViewLocalizer Localizer

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@Localizer["Group List"]</h3>
                @if (Model.Member == Member.Owner)
                {
                    <button class="btn btn-xs btn-success pull-right" data-type="modal" data-action="add-group">
                        <i class="fa fa-clone"></i>&nbsp;@Localizer["Add Group"]
                    </button>
                }
            </div>
            <div class="box-body table-responsive">
                <table class="table table-striped grouplist">
                    <thead class="table-header">
                        <tr>
                            <th>@Localizer["Name"]</th>
                            <th>@Localizer["Content"]</th>
                            <th>@Localizer["State"]</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@Html.Script(
    @<script>
        var table = $(".grouplist").DataTable({
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "ajax": {
                "url": "/groups?userId=@Model.ID",
                "type": "POST"
            },
            "columns": [
                { "data": "name", },
                { "data": "info", "className":"not-mobile" },
                { "data": "state" }
            ],
            "language": {
                "searchPlaceholder":"@Localizer["Search category name"]"
            }
        });
    </script>
)

