@model ProfileModel

@inject IViewLocalizer Localizer

@if (Model != null)
{
    var activeUser = Context.Session.GetSession<User>("User");

    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> @Localizer["Home"]</a></li>
        <li><a href="/@Model.User.Username">@Model.User.Name</a></li>
        <li class="active">@Localizer["Notes"]</li>
    </ol>
    <div class="row">
        @{ await Html.RenderPartialAsync("~/Views/User/UserInfo.cshtml", Model.User);}

        @if (Model.User.Status != Status.Blocked)
        {
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                @{ await Html.RenderPartialAsync("~/Views/User/Navigation.cshtml", Model.Navigation);}

                @if (Model.User.Lock && !(Model.User.Status == Status.Owner || Model.User.Status == Status.Follow))
                {
                    <div class="tab-content">
                        <h3 style="font-size:16px; font-weight:bold">@Localizer["This user's account is locked"]</h3>
                        <p>@Localizer["Follow to see this user's posts"]</p>
                    </div>
                }
                else
                {
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-header with-border">
                                    <h3 class="box-title">@Localizer["Note List"]</h3>
                                    @if (Model.User.Status == Status.Owner)
                                    {
                                        <button class="btn btn-xs btn-success pull-right" data-type="modal" data-action="add-note">
                                            <i class="fa fa-newspaper-o"></i>&nbsp;@Localizer["Add Note"]
                                        </button>
                                    }
                                </div>

                                @{ await Html.RenderPartialAsync("~/Views/Shared/Plugins/Filter.cshtml", Model.Data);}
                            </div>
                        </div>
                        <div class="row" style="margin-top:-10px">
                            @if (Model.Data != null)
                            {
                                foreach (var item in Model.Data.Datalist as List<UserNote>)
                                {
                                    var owner = item.Note.Users.FirstOrDefault(a => a.Status == Status.Owner).User;
                                    var secret = false;

                                    if (item.Note.Group?.Visible == Visible.Private || item.Note.Folder?.Visible == Visible.Private || item.Note.Visible == Visible.Private)
                                    {
                                        if (!(Model.User.Status == Status.Owner || Model.User.Status == Status.Manager || Model.User.Status == Status.Member))
                                        {
                                            secret = true;
                                        }
                                    }

                                    <div class="col-md-12">
                                        <div class="model-card" style="padding:10px;background:@(secret ? "#fff0db" : "inherit")">
                                            <div class="model-card-header">
                                                <small>
                                                    <i class="fa fa-clock-o"></i> @item.Note.CreateDate.ToString("F")
                                                </small>
                                            </div>
                                            <div class="model-card-body">
                                                @if (secret)
                                                {
                                                    <i class="fa fa-lock"></i><span>&nbsp;&nbsp;@Localizer["Private Note"]</span>
                                                }
                                                else
                                                {
                                                    <img src="/notebook/images/n.png" class="img-circle" style="height:30px; margin-right:5px">
                                                    <a href="/@item.Note.ID/note-detail" class="model-card-title">@item.Note.Title</a>
                                                }
                                                <br />
                                                <div style="margin-top:10px">
                                                    <a href="/@owner.Username" style="color:#777"><i class="fa fa-user"></i> @owner.Name</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="box-footer">
                            @Localizer["Total"]: @Model.Data.TotalData
                            @Html.Raw(Model.Data.Pagination)
                        </div>
                    </div>
                }
            </div>
        </div>
        }
            
    </div>
}
else
{
    <div class="alert alert-warning">@Localizer["User not found"] ...</div>
}

