@model UserProfileModel

@inject IViewLocalizer Localizer

@{
    var activeUser = Context.Session.GetSession<User>("User");
}

@if (Model != null)
{
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> @Localizer["Home"]</a></li>
        <li class="active">@Model.Name</li>
    </ol>

    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile" style="padding:15px;">
                    <img class="profile-user-img img-responsive img-circle" src="@Model.Avatar" alt="User profile picture">

                    <h3 class="text-center box-title">@Model.Name</h3>

                    <p class="text-muted text-center">B.S. in Computer Science from the University of Tennessee at Knoxville</p><br />
                    <ul class="list-group list-group-unbordered" style="color:#3D8CBC; padding:10px 15px;">
                        <li class="list-group-item">
                            <i class="fa fa-clone"></i>&nbsp;@Localizer["Groups"] <a class="pull-right">@Model.GroupCount</a>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-file-text-o"></i>&nbsp;@Localizer["Notes"] <a class="pull-right">@Model.NoteCount</a>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-users"></i>&nbsp;@Localizer["Followers"] <a class="pull-right">0</a>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-users"></i>&nbsp;@Localizer["Following"] <a class="pull-right">0</a>
                        </li>
                    </ul>

                    @if (Model.ID == activeUser?.ID)
                    {
                        <div class="text-center">
                            <a href="#" class="btn btn-primary"><b><i class="fa fa-cogs"></i> Settings</b></a>
                        </div>
                    }
                    else if (activeUser != null)
                    {
                        <div class="text-center">
                            <a href="#" class="btn btn-primary"><b>Follow</b></a>
                            <a href="#" class="btn btn-success"><b>Message</b></a>
                        </div>
                    }
                    else
                    {
                    <div class="text-center">
                        <a href="/register" style="color:blue"><b>@Localizer["Sign up"]</b></a> or 
                        <a href="/register" style="color:blue"><b>@Localizer["Sign in"]</b></a> @Localizer["for follow"]
                    </div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li @((Model.List == "" || Model.List == "groups") ? "class=active" : "")><a href="/@Model.ID/profile"><i class="fa fa-clone"></i>&nbsp;@Localizer["Groups"]</a></li>
                    <li @((Model.List == "notes") ? "class=active" : "")><a href="/@Model.ID/profile/notes"><i class="fa fa-newspaper-o"></i>&nbsp;@Localizer["All Notes"]</a></li>
                </ul>
                <div class="tab-content">
                    @if (Model.List == "notes")
                    {
                        await Html.RenderPartialAsync("Notes", new DataListPartialModel { ID = Model.ID, Member = (Model.ID == activeUser?.ID) ? Member.Owner : Member.Member });
                    }
                    else
                    {
                        await Html.RenderPartialAsync("Groups", new DataListPartialModel { ID = Model.ID, Member = (Model.ID == activeUser?.ID) ? Member.Owner : Member.Member });
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning">@Localizer["User not found"]</div>
}

