@model ProfileModel

@inject IViewLocalizer Localizer

@{
    var activeUser = Context.Session.GetSession<User>("User");
}

@if (Model.User != null)
{
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> @Localizer["Home"]</a></li>
        <li class="active">@Model.User.Name</li>
    </ol>
    <div class="row">
        @{ await Html.RenderPartialAsync("~/Views/User/UserInfo.cshtml", Model.User);}
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                @{ await Html.RenderPartialAsync("~/Views/User/Navigation.cshtml", Model.Navigation);}

                @if (Model.User.Lock && !(Model.User.Status == Status.Owner || Model.User.Status == Status.Follow))
                {
                    <div class="tab-content">
                        <h3 style="font-size:16px; font-weight:bold">@Localizer["This user's account is locked"]</h3>
                        <p>@Localizer["Follow to see this user's posts"]</p>
                    </div>
                }
                else
                {
                    <div class="tab-content">
                        Timeline .....
                    </div>
                }
                
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning">@Localizer["User not found"]</div>
}

