@model User

@inject IViewLocalizer Localizer

    <style>
        .or-seperator {
            margin: 20px 0 10px;
            text-align: center;
            border-top: 1px solid #ccc;
        }

            .or-seperator i {
                padding: 0 10px;
                background: #f7f7f7;
                position: relative;
                top: -11px;
                z-index: 1;
            }
        .login-box, .register-box{
            margin:2% auto;
        }
    </style>

<div class="login-box" style="width:100%;">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="login-box-body">
        <div class="login-logo">
            <img src="/notebook/images/blue-logo.png" height="30" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.
                    Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı
                    galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
                    Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır.
                    1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum
                    sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.
                </p>
            </div>
            <div class="col-md-6">
                <div style="width:100%; max-width:350px; margin:auto">
                    <div class="form-group">
                        <a class="btn btn-social btn-google btn-block" asp-action="SocialMediaRegister" asp-route-provider="Google">
                            <span class="fa fa-google"></span> @Localizer["Sign Up with Gmail"]
                        </a>
                        <a class="btn btn-social btn-facebook btn-block" asp-action="SocialMediaRegister" asp-route-provider="Facebook">
                            <span class="fa fa-facebook"></span> @Localizer["Sign Up with Facebook"]
                        </a>
                    </div>
                    <div class="or-seperator">
                        <i>@Localizer["or"]</i>
                    </div>
                    <form action="/Account/Register" method="post" onsubmit="return checkForm(this)">
                        @Html.AntiForgeryToken()
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="@Localizer["Name"]" name="Name" value="@Model.Name" required>
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="email" class="form-control" placeholder="@Localizer["Email"]" name="Email" value="@Model.Email" required>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="@Localizer["Username"]" name="Username" value="@Model.Username" required>
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="@Localizer["Password"]" name="Password" value="@Model.Password" required min="6">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="@Localizer["Password Confirm"]" name="PasswordConfirm" required>
                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="checkbox icheck">
                                    <label style="padding-left:20px">
                                        <input type="checkbox" name="Agree"> @Localizer["I agree to the terms"]
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin:15px 0">
                            <button type="submit" class="btn btn-success btn-block btn-flat">@Localizer["Register"]</button>
                        </div>
                    </form>
                    <div class="row" style="text-align:center">
                        <a href="/login" class="text-center">--> @Localizer["Login"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function checkForm(form) {
        if (form.Password.value != "" && form.Password.value == form.PasswordConfirm.value) {
            if (form.Password.value.length < 6) {
                alert("Error: Password must contain at least 6 characters!");
                form.Password.focus();
                return false;
            }
            if (form.Password.value.length < 6) {
                alert("Error: Password must contain at least 6 characters!");
                form.Password.focus();
                return false;
            }
        }
        else {
            alert("Error: Please check that you've entered and confirmed your password!");
            form.Password.focus();
            return false;
        }

        if (!form.Agree.checked) {
            alert("Error: Please confirm the terms");
            return false;
        }

        return true;
    }

</script>