@model Settings

@inject IViewLocalizer Localizer

<link href="/adminlte/components/summernote/summernote.css" rel="stylesheet" />
<style>
    .modal-backdrop{
        display:none;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <form action="/update-settings" method="post" enctype="multipart/form-data">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#general" data-toggle="tab"><i class="fa fa-th-large"></i> @Localizer["General"]</a></li>
                    <li><a href="#mail" data-toggle="tab"><i class="fa fa-envelope"></i> @Localizer["Mail"]</a></li>
                    <li><a href="#membership" data-toggle="tab"><i class="fa fa-user-circle-o"></i> @Localizer["Membership"]</a></li>
                    <li><a href="#contact" data-toggle="tab"><i class="fa fa-phone"></i> @Localizer["Contact"]</a></li>
                    <li><a href="#seo" data-toggle="tab"><i class="fa fa-search"></i> @Localizer["Seo"]</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="general">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(a => a.ID)

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Name"]</label>
                                    <input type="text" class="form-control" value="@Model.Name" name="Name" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Title"]</label>
                                    <input type="text" class="form-control" value="@Model.Title" name="Title" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Web Address"]</label>
                                    <input type="text" class="form-control" value="@Model.WebAddress" name="WebAddress" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Default Language"]</label>
                                    <input type="text" class="form-control" value="@Model.DefaultLanguage" name="DefaultLanguage" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Default Language"]</label>
                                    <input type="text" class="form-control" value="@Model.DefaultLanguage" name="DefaultLanguage" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>@Localizer["Logo"]</label><br />
                                            <img src="@Model.Logo" style="height:24px; margin:10px auto 15px" />
                                            @Html.HiddenFor(a => a.Logo)
                                            <input type="file" name="Logo" />
                                        </div>
                                        <div class="col-md-6">
                                            <label>@Localizer["Icon"]</label><br />
                                            <img src="@Model.Icon" style="height:24px; margin:10px auto 15px" />
                                            @Html.HiddenFor(a => a.Icon)
                                            <input type="file" name="Icon" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>@Localizer["Introduction"]</label>
                                    <textarea name="Introduction" class="form-control summernote">@Model.Introduction</textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>@Localizer["Footer"]</label>
                                    <textarea name="Footer" class="form-control summernote">@Model.Footer</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="mail">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Username"]</label>
                                    <input type="text" class="form-control" value="@Model.Username" name="Username" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Password"]</label>
                                    <input type="text" class="form-control" value="@Model.Password" name="Password" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Mail"]</label>
                                    <input type="text" class="form-control" value="@Model.Email" name="Email" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Host"]</label>
                                    <input type="text" class="form-control" value="@Model.Host" name="Host" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Port"]</label>
                                    <input type="text" class="form-control" value="@Model.Port" name="Port" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Is it active"] ?</label>
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(a => a.IsMailActive) @Localizer["Active"]
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="membership">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>@Localizer["Accepted File Type"]</label>
                                    <input type="text" class="form-control" value="@Model.AcceptedFileTypes" name="AcceptedFileTypes" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Total File Size"] (MB)</label>
                                    <input type="number" class="form-control" value="@Model.TotalFileSize" name="TotalFileSize" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Single File Size"] (MB)</label>
                                    <input type="number" class="form-control" value="@Model.SingleFileSize" name="SingleFileSize" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Is membership open"] ?</label>
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(a => a.IsMembershipOpen) @Localizer["Open"]
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Check email"] ?</label>
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(a => a.MembershipEmailControl) @Localizer["Active"]
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="contact">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Gmail"]</label>
                                    <input type="text" class="form-control" value="@Model.Gmail" name="Gmail" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Phone"]</label>
                                    <input type="text" class="form-control" value="@Model.Phone" name="Phone" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Facebook"]</label>
                                    <input type="text" class="form-control" value="@Model.Facebook" name="Facebook" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Twitter"]</label>
                                    <input type="text" class="form-control" value="@Model.Twitter" name="Twitter" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Localizer["Linkedin"]</label>
                                    <input type="text" class="form-control" value="@Model.Linkedin" name="Linkedin" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>@Localizer["Address"]</label>
                                    <textarea name="Address" class="form-control summernote">@Model.Address</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="seo">
                        <div class="form-group">
                            <label>@Localizer["Description"]</label>
                            <input type="text" class="form-control" value="@Model.Description" name="Description" />
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Metadata"]</label>
                            <input type="text" class="form-control" value="@Model.Metadata" name="Metadata" />
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success">
                            <i class="fa fa-check"></i>&nbsp;Save
                        </button>
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="/adminlte/components/summernote/summernote.min.js"></script>
    <script>
    $(".summernote").summernote({
        height: 200,
        placeholder: '@Localizer["Content"] ...',
        toolbar: [
            ['style', ['style']],
            ['fontsize', ['fontsize']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['fontname', ['fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'hr']],
            ['view', ['fullscreen', 'codeview']],
            ['help', ['help']]
        ]
    });
    </script>
}