@model NoteInfoModel

@inject IViewLocalizer Localizer

@{
    var _user = Context.Session.GetSession<User>("User");
}

@if (Model != null)
{
    var control = true;
    var member = (Model.Group != null) ? (Model.Group.Status == Status.Owner || Model.Group.Status == Status.Manager || Model.Group.Status == Status.Member) ? true : false : false;
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/@Model.User.Username">@Model.User.Name</a></li>
        @if (Model.Folder != null)
        {
            <li><a href="/@Model.Folder.Group.ID/group-detail">@Model.Folder.Group.Name</a></li>
            <li><a href="/@Model.Folder.ID/folder-detail">@Model.Folder.Name</a></li>
        }
        else if (Model.Group != null)
        {
            <li><a href="/@Model.Group.ID/group-detail/notes">@Model.Group.Name</a></li>
        }

        <li class="active">@Model.Title</li>
    </ol>

    <div class="row">
        <div class="col-md-12">
            @if (Model.Visible == Visible.Private)
            {
                if (Model.Group == null && Model.Status != Status.Owner)
                {
                    control = false;
                }
                else if (Model.Group != null && !member)
                {
                    control = false;
                }
            }
            else
            {
                if (Model.Folder != null && Model.Folder.Visible == Visible.Private && !member)
                {
                    control = false;
                }
                if(Model.Group != null && Model.Group.Visible == Visible.Private && Model.Group.Status != Status.Owner)
                {
                    control = false;
                }
            }

            @if (control)
            {
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <p style="margin:0">
                            <div class="pull-left">
                                <small><i class="fa fa-calendar"></i>&nbsp; @Model.CreateDate.ToString("F")</small>
                            </div>
                            <div class="pull-right">
                                @if (Model.Status == Status.Owner)
                                {
                                    <button class="btn btn-default btn-xs" data-type="modal" data-action="@Model.ID/edit-note" title="@Localizer["Edit"]">
                                        <i class="fa fa-cog"></i> @Localizer["Edit"]
                                    </button>
                                    <button class="btn btn-danger btn-xs" title="@Localizer["Remove"]"
                                            data-type="redirect"
                                            data-confirm="@Localizer["Are you sure you want to delete"] ?"
                                            data-url="@(Model.Folder != null ? "/"+Model.Folder.ID+"/folder-detail" : Model.Group != null ? "/"+Model.Group.ID+"/group-detail/notes" : "/"+Model.User.Username+"/notes")"
                                            data-action="@Model.ID/delete-note">
                                        <i class="fa fa-trash-o"></i> @Localizer["Remove"]
                                    </button>
                                }
                                else
                                {
                                    if (Model.Status == Status.Visitor)
                                    {
                                        <button class="btn btn-default btn-xs" title="@Localizer["Favorite"]">
                                            <i class="fa fa-heart-o"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" title="@Localizer["Read Later"]">
                                            <i class="fa fa-hourglass-o"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-@(Model.Status == Status.Favorite ? "primary":"default") btn-xs" title="@Localizer[Model.Status == Status.Favorite ? "Remove from favorites":"Add Favorite"]">
                                            <i class="fa fa-heart-o"></i>
                                        </button>
                                        <button class="btn btn-@(Model.Status == Status.ReadLater ? "success":"default") btn-xs" title="@Localizer[Model.Status == Status.Favorite ? "Remove from read later list":"Read later"]">
                                            <i class="fa fa-hourglass-o"></i>
                                        </button>
                                    }
                                }

                            </div>
                        </p><br />

                        <h3 class="box-title" style="font-size:17px;">@Model.Title</h3>

                        <p>
                            <div class="pull-left">
                                <a href="/@Model.User.Username" style="font-weight:bold; color:#ff6a00"><i class="fa fa-user"></i>&nbsp;@Model.User.Name</a>&nbsp;&nbsp;
                                <small><i class="fa fa-eye"></i>&nbsp;@Model.ReadCount</small>
                            </div>
                        </p><br />

                        <p>@Html.Raw(Model.Content)</p>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-warning" style="margin-top:10px">@Localizer["This note is private"]</div>
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-warning">@Localizer["Note not found"]</div>
}