@model Note

@inject IViewLocalizer Localizer

<link href="/adminlte/components/summernote/summernote.css" rel="stylesheet" />
<style>
    .modal-large {
        width: 100%;
        max-width: 1200px;
        height: 100%;
    }

    .modal-content {
        height: 100%;
        border-radius: 0;
        overflow: auto;
    }

    button.close {
        display: none;
    }
</style>

<div id="modal" class="n-modal" role="dialog">
    <div class="n-modal-dialog">
        <form action="@(Model.ID != null ? "/editNote" : "/addNote")" method="post">
            @Html.AntiForgeryToken()

            <div class="n-modal-content n-modal-lg">
                <div class="n-modal-header">
                    <button type="button" class="close" onclick="closeModal()">&times;</button>
                    <label class="n-modal-title">@(Model.ID != null ? Localizer["Edit Note"] : Localizer["Add Note"])</label>
                </div>
                <div class="n-modal-body">
                    <div class="form-group">
                        @Html.HiddenFor(a => a.ID)
                        @Html.HiddenFor(a => a.UserID)
                        @Html.HiddenFor(a => a.GroupID)
                        @Html.HiddenFor(a => a.FolderID)
                        <input type="text" class="form-control" name="Title" required value="@Model.Title" placeholder="@Localizer["Title"]" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Explanation" value="@Model.Explanation" placeholder="@Localizer["Explanation"]" />
                    </div>
                    <div class="form-group">
                        <textarea name="Content" class="form-control summernote" required>@Model.Content</textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Tags" value="@Model.Tags" placeholder="@Localizer["Tags"]" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Visibility"]</label>
                        <div class="checkbox">
                            <label style="padding:0">
                                @Html.RadioButtonFor(a => a.Visible, Visible.Private) @Localizer["Me and group members"]
                            </label>
                        </div>
                        <div class="checkbox">
                            <label style="padding:0">
                                @Html.RadioButtonFor(a => a.Visible, Visible.Public) @Localizer["Open to everyone"]
                            </label>
                        </div>
                    </div>
                </div>
                <div class="n-modal-footer">
                    <button type="button" class="btn btn-default btn-sm" onclick="closeModal()">@Localizer["Close"]</button>
                    <input type="submit" class="btn btn-success  btn-sm" value="@(Model.ID != null ? Localizer["Update"] : Localizer["Add"])" />
                </div>
            </div>
        </form>
    </div>
</div>


<script src="/adminlte/components/summernote/summernote.min.js"></script>
<script>
    $(".summernote").summernote({
        height: 400,
        placeholder: '@Localizer["Content"] ...',
        toolbar: [
            ['style', ['style']],
            ['fontsize', ['fontsize']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['fontname', ['fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'hr']],
            ['view', ['fullscreen', 'codeview']],
            ['help', ['help']]
        ]
    });
</script>
