@model Note

@inject IViewLocalizer Localizer

<link href="/adminlte/components/summernote/summernote.css" rel="stylesheet" />
<style>
    .modal-large {
        width: 100%;
        max-width: 1200px;
        height: 100%;
    }

    .modal-content {
        height: 100%;
        border-radius: 0;
        overflow: auto;
    }

    button.close {
        display: none;
    }
</style>

<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <p class="text-center">
                    <i class="fa fa-file-text-o" style="font-size:70px;"></i>
                </p>

                <h3 class="text-center box-title">@(Model != null ? Localizer["Edit Note"] : Localizer["Add Note"])</h3>

                @*<p class="text-muted text-center">@Model.Explanation</p><br />
                <ul class="list-group list-group-unbordered" style="color:#3D8CBC;">
                    <li class="list-group-item">
                        <i class="fa fa-user"></i>&nbsp;@Localizer["Autor"]
                        <a href="/@Model.OwnerID/profile/groups" class="pull-right" style="font-weight:bold; color:darkblue">@Model.OwnerName</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-calendar"></i>&nbsp;@Localizer["Date"] <a class="pull-right">@Model.CreateDate.ToString("dddd, dd MMMM yyyy")</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-file-text-o"></i>&nbsp;@Localizer["Read Count"] <a class="pull-right">@Model.ReadCount</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-comment-o"></i>&nbsp;@Localizer["Comments"] <a class="pull-right">28</a>
                    </li>
                </ul>
                <div class="text-center">
                    @if (_user != null && Model.OwnerID == _user.ID)
                    {
                        <a href="/@Model.ID/edit-note" class="btn btn-primary"><b>@Localizer["Edit"]</b></a>
                        <a class="btn btn-danger" data-type="redirect" data-url="@TempData["BeforeUrl"]" data-method="post" data-action="@Model.ID/delete-note" data-confirm="@Localizer["Are you sure you want to delete"]?"><b>@Localizer["Remove"]</b></a>
                    }
                    else
                    {
                        <a href="#" class="btn btn-primary"><b>Follow</b></a>
                        <a href="#" class="btn btn-success"><b>Message</b></a>
                    }
                </div>*@
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box">
            @*<div class="box-header">
                <div class="box-title">
                    <i class="fa fa-file-text-o"></i>&nbsp;&nbsp;@(Model != null ? Localizer["Edit Note"] : Localizer["Add Note"])
                </div>
            </div>*@
            <form action="@(Model != null ? "/editNote" : "/addNote")" method="post">
                @Html.AntiForgeryToken()

                <div class="box-body">
                    <div class="form-group">
                        @Html.HiddenFor(a => a.ID)
                        <input type="text" class="form-control" name="Title" required value="@(Model != null ? Model.Title : "")" placeholder="@Localizer["Title"]" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Explanation" value="@(Model != null ? Model.Explanation : "")" placeholder="@Localizer["Explanation"]" />
                    </div>
                    <div class="form-group">
                        <textarea name="Content" class="form-control summernote">@(Model != null ? Model.Content : "")</textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Tags" value="@(Model != null ? Model.Tags : "")" placeholder="@Localizer["Tags"]" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Visible"]</label>
                        @foreach (var item in Enum.GetValues(typeof(Visible)))
                        {
                            <div class="checkbox">
                                <label style="padding-left:0">
                                    <input type="radio" name="Visible" value="@item">&nbsp;@Localizer[item.ToString()]
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="box-footer">
                    <input type="submit" class="btn btn-success  btn-sm" value="@(Model != null ? Localizer["Update"] : Localizer["Add"])" />
                    <a href="@TempData["Return"]" class="btn btn-default  btn-sm">@Localizer["Cancel"]</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{
    <script src="/adminlte/components/summernote/summernote.min.js"></script>
    <script>
        $(".summernote").summernote({
            height: 400,
            placeholder: '@Localizer["Content"] ...'
        });
    </script>
}
