@model Note

@inject IViewLocalizer Localizer

<link href="/adminlte/components/summernote/summernote.css" rel="stylesheet" />
<style>
    .modal-large {
        width: 100%;
        max-width: 1200px;
        height: 100%;
    }

    .modal-content {
        height: 100%;
        border-radius: 0;
        overflow: auto;
    }

    button.close {
        display: none;
    }
</style>

<div id="modal" class="n-modal" role="dialog">
    <div class="n-modal-dialog">
        <form action="@(Model != null ? "/editNote" : "/addNote")" method="post">
            @Html.AntiForgeryToken()

            <div class="n-modal-content n-modal-lg">
                <div class="n-modal-header">
                    <button type="button" class="close" onclick="closeModal()">&times;</button>
                    <label class="n-modal-title">@(Model != null ? Localizer["Edit Note"] : Localizer["Add Note"])</label>
                </div>
                <div class="n-modal-body">
                    <div class="form-group">
                        @Html.HiddenFor(a => a.ID)
                        <input type="text" class="form-control" name="Title" required value="@(Model != null ? Model.Title : "")" placeholder="@Localizer["Title"]" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Explanation" value="@(Model != null ? Model.Explanation : "")" placeholder="@Localizer["Explanation"]" />
                    </div>
                    <div class="form-group">
                        <textarea name="Content" class="form-control summernote">@(Model != null ? Model.Content : "")</textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Tags" value="@(Model != null ? Model.Tags : "")" placeholder="@Localizer["Tags"]" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Visible"]</label>
                        @foreach (var item in Enum.GetValues(typeof(Visible)))
                        {
                            <div class="checkbox">
                                <label style="padding-left:0">
                                    <input type="radio" name="Visible" value="@item">&nbsp;@Localizer[item.ToString()]
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="n-modal-footer">
                    <button type="button" class="btn btn-default btn-sm" onclick="closeModal()">@Localizer["Close"]</button>
                    <input type="submit" class="btn btn-success  btn-sm" value="@(Model != null ? Localizer["Update"] : Localizer["Add"])" />
                </div>
            </div>
        </form>
    </div>
</div>


<script src="/adminlte/components/summernote/summernote.min.js"></script>
<script>
    $(".summernote").summernote({
        height: 400,
        placeholder: '@Localizer["Content"] ...',
        toolbar: [
            ['style', ['style']],
            ['fontsize', ['fontsize']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['fontname', ['fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'hr']],
            ['view', ['fullscreen', 'codeview']],
            ['help', ['help']]
        ]
    });
</script>
