@model GroupDetailModel

@inject IViewLocalizer Localizer

@{
    var user = Context.Session.GetSession<User>("User");
}


@if (Model != null)
{
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> @Localizer["Home"]</a></li>
        <li><a href="/@Model.Group.User.Username/groups">@Model.Group.User.Name</a></li>
        <li class="active">@Model.Group.Name</li>
    </ol>
    <div class="row">
        @{ await Html.RenderPartialAsync("~/Views/Group/GroupInfo.cshtml", Model.Group);}
        
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                @{ await Html.RenderPartialAsync("~/Views/Group/Navigation.cshtml", Model.Navigation);}

                @if (Model.Group.Visible == Visible.Private && !(Model.Group.Status == Status.Owner || Model.Group.Status == Status.Manager || Model.Group.Status == Status.Member))
                {
                    <div class="alert">
                        <i class="fa fa-lock"></i>  @Localizer["Only group members can see"]
                    </div>
                }
                else if (Model.Group.Status == Status.Blocked)
                {
                    <div class="alert alert-danger" style="margin-top:10px">@Localizer["Blocked"]</div>
                }
                else
                {
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-header with-border">
                                    <h3 class="box-title">@Localizer["Member List"]</h3>
                                </div>

                                @{ await Html.RenderPartialAsync("~/Views/Shared/Plugins/Filter.cshtml", Model.Data);}
                            </div>
                        </div>
                        <div class="row">
                            @if (Model.Data != null)
                            {
                                foreach (var item in (Model.Data.Datalist as List<UserGroup>).Where(a => a.Status != Status.Owner))
                                {
                                    
                                    <div class="col-sm-4">
                                        <div class="model-card">
                                            <div class="row">
                                                <div class="col-xs-3 text-center">
                                                    <a href="/@item.User.Username" class="model-card-title">
                                                        <img class="user-image" height="50" src="@(item.User.Avatar ?? "/notebook/images/avatar.png")" alt="User profile picture">
                                                    </a>
                                                </div>
                                                <div class="col-xs-9">
                                                    @if (Model.Group.Status == Status.Owner || Model.Group.Status == Status.Manager)
                                                    {
                                                        <label class="label label-@(item.Status == Status.Wait ? "warning": (item.Status == Status.Manager || item.Status == Status.Member) ? "success" : "danger" )">
                                                            @Localizer[item.Status.ToString()]
                                                        </label>
                                                        @if (user?.ID != item.UserID)
                                                        {
                                                            <div class="pull-right" style="font-size:15px; font-weight:bold;">
                                                                <i class="fa fa-pencil" style="color:#628ec4; margin-right:5px; cursor:pointer"
                                                                   data-type="modal"
                                                                   data-action="@item.ID/edit-member"></i>
                                                                <i class="fa fa-remove" style="color:red; cursor:pointer"
                                                                   data-type="redirect"
                                                                   data-confirm="@Localizer["Are you sure you want to delete"] ?"
                                                                   data-url="/@item.GroupID/group-detail/members"
                                                                   data-action="@item.ID/delete-member"></i>
                                                            </div><br />
                                                        }
                                                    }
                                                    <div>
                                                        <small>@("@" + item.User.Username)</small><br />
                                                        <a href="/@item.User.Username">@item.User.Name</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="box-footer">
                            @Localizer["Total"]: @(Model.Data.TotalData-1)
                            @Html.Raw(Model.Data.Pagination)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning">@Localizer["Group not found"]</div>
}



