@model GroupDetailModel

@inject IViewLocalizer Localizer

@{
    var user = Context.Session.GetSession<User>("User");
}


@if (Model != null)
{
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> @Localizer["Home"]</a></li>
        <li><a href="/@Model.Group.User.Username/groups">@Model.Group.User.Name</a></li>
        <li class="active">@Model.Group.Name</li>
    </ol>
    <div class="row">
        @{ await Html.RenderPartialAsync("~/Views/Group/GroupInfo.cshtml", Model.Group);}

        <div class="col-md-9">
            <div class="nav-tabs-custom">
                @{ await Html.RenderPartialAsync("~/Views/Group/Navigation.cshtml", Model.Navigation);}

                @if (Model.Group.Visible == Visible.Private && !(Model.Group.Status == Status.Owner || Model.Group.Status == Status.Manager || Model.Group.Status == Status.Member))
                {
                    <div class="alert">
                        <i class="fa fa-lock"></i>  @Localizer["Only group members can see"]
                    </div>
                }
                else if (Model.Group.Status == Status.Blocked)
                {
                    <div class="alert alert-danger" style="margin-top:10px">@Localizer["Blocked"]</div>
                }
                else
                {
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-header with-border">
                                    <h3 class="box-title">@Localizer["Note List"]</h3>
                                    @if (Model.Group.Status == Status.Owner || Model.Group.Status == Status.Manager)
                                    {
                                        <button class="btn btn-xs btn-success pull-right" data-type="modal" data-action="add-note?GroupID=@Model.Group.ID">
                                            <i class="fa fa-newspaper-o"></i>&nbsp;@Localizer["Add Note"]
                                        </button>
                                    }
                                </div>

                                @{ await Html.RenderPartialAsync("~/Views/Shared/Plugins/Filter.cshtml", Model.Data);}
                            </div>
                        </div>
                        <div class="row">
                            @if (Model.Data != null)
                            {
                                foreach (var item in Model.Data.Datalist as List<Note>)
                                {
                                    var owner = item.Users.FirstOrDefault(a => a.Status == Status.Owner).User;

                                    <div class="col-md-12">
                                        <div class="model-card" style="padding:10px;">
                                            <div class="model-card-header">
                                                <small>
                                                    <i class="fa fa-clock-o"></i> @item.CreateDate.ToString("F")
                                                </small>
                                            </div>
                                            <div class="model-card-body">
                                                <img src="/notebook/images/n.png" class="img-circle" style="height:30px; margin-right:5px">
                                                <a href="/@item.ID/note-detail" class="model-card-title">@item.Title</a>
                                                <br />
                                                <div style="margin-top:10px">
                                                    <a href="/@owner.Username" style="color:#777"><i class="fa fa-user"></i> @owner.Name</a>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                }
                            }
                        </div>
                        <div class="box-footer">
                            @Localizer["Total"]: @Model.Data.TotalData
                            @Html.Raw(Model.Data.Pagination)
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning">@Localizer["Group not found"]</div>
}



